#about {
    display: flex;
    position: relative;
    margin-top: 5%;
}

#about::after {
    content: '';
    background-image: var(--profile-bg-color);
    position: absolute;
    /* modern way to write: top left rgt lft 0 */
    inset: 0;
    transform: skewY(5deg);
}

.about-container {
    padding: 6% 6% 10% 6%;
    z-index: +1;
}

.profile-img-wrapper {
    border-radius: 50%;
    background-color: rgb(61, 61, 213);
    width: 22rem;
    height: auto;
    position: absolute;
    right: 1.5rem;
    bottom: 1rem;
    overflow: hidden;
    z-index: +1;
}

.scroll-wrapper {
    width: 50%;
    overflow: hidden;
    margin-top: 5%;
    position: relative;
}

.infinite-scroll {
    display: flex;
    gap: 1.5rem;
    width: calc(48px * 26);
    color: var(--theme-font-color);
    animation: scroll 20s linear infinite alternate;
}

.infinite-scroll:hover {
    animation-play-state: paused;
}

.infinite-scroll i {
    cursor: inherit;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-48px * 13));
    }
}

@media (max-width: 800px) {
    #profile-pic {
        display: none;
    }

    .about-container {
        padding: 6% 6% 15% 6%;
        z-index: +1;
    }
}