.project {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
    gap: 1rem;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.project:nth-of-type(odd) .card-wrapper {
    background-color: rgb(26, 26, 26);
    box-shadow: 60px -16px teal;
}

.project:nth-of-type(even) .card-wrapper {
    background-color: rgb(255, 255, 255);
    box-shadow: 60px -16px rgb(78, 91, 212);
}

.card-wrapper {
    width: 90%;
    margin: 0 auto;
}

.project-description {
    margin: 0 auto;
    line-height: var(--line-height);
    width: 80%;
}

.card-title {
    color: var(--theme-font-color);
}

.card-description {
    color: var(--theme-font-color);
    margin-block: 7%;
}

.stack {
    display: flex;
    /* flex-wrap: wrap; */
    max-width: 35rem;
    color: var(--theme-font-color);
    gap: 4%;
    overflow: scroll;
    box-sizing: border-box;
}

.stack i {
    cursor: inherit;
    /* margin-right: 5%; */
}

.showcase {
    margin-block: 10%;
}

.fade-in {
    opacity: 0;
    transition: all 0.7s ease-in;
}

.fade-in.active {
    opacity: 1;
}

.home-fade-in {
    opacity: 0;
    transition: all 2s ease-in;
}

.home-fade-in.active {
    opacity: 1;
}

@media (max-width: 1000px) {
    .project {
        margin-top: 25%;
    }

    .project:nth-of-type(odd) .card-wrapper {
        box-shadow: 10px -16px teal;
    }

    .project:nth-of-type(even) .card-wrapper {
        box-shadow: 10px -16px rgb(78, 91, 212);
    }

    #project {
        margin-top: 15%;
    }

    .project-description {
        width: 90%;
    }
}

@media (prefers-reduced-motion) {
    .fade-in {
        transition: none;
    }
}